Email_summary_agent.json
{
  "name": "Email summary agent",
  "nodes": [
    {
      "parameters": {
        "content": "Currently on Execute:\n\nBut can be adjusted to schedule on time if you want the workflow to run at a particular hour.",
        "height": 314.47468983163634,
        "width": 248.47086922498647
      },
      "id": "17fa8890-46be-4e39-ab1c-4df31923e20a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1100,
        60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Fetches Date to fetch from. You can set it to more days or specific time range here\n\n",
        "height": 313.40934714314244,
        "width": 213.36643278764896
      },
      "id": "1cf4407a-e9e0-43bd-993e-e91a49f7cb70",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -820,
        60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "receivedAfter": "={{ $json.Date }}"
        }
      },
      "id": "8503638a-aa2e-49b9-b8bf-7d9419f96b94",
      "name": "Fetch Emails - Past 24 Hours",
      "type": "n8n-nodes-base.gmail",
      "position": [
        -540,
        180
      ],
      "webhookId": "20f1d11d-8a69-43f3-9323-33eaf1b3b600",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "5K1A9Wnn6FekHWmr",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Go through this email summary and identify all key details mentioned, any specific issues to look at, and action items.\nUse this format to output\n{\n  \"summary_of_emails\": [\n    \"Point 1\",\n    \"Point 2\",\n    \"Point 3\"\n  ],\n  \"actions\": [\n    {\n      \"name\": \"Name 1\",\n      \"action\": \"Action 1\"\n    },\n    {\n      \"name\": \"Name 1\",\n      \"action\": \"Action 2\"\n    },\n    {\n      \"name\": \"Name 2\",\n      \"action\": \"Action 3\"\n    }\n  ]\n}\n\nInput Data:\n\n {{ $json.data.toJsonString() }}\n\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "c95a267e-5a7b-4305-8a8a-ca934f78d71a",
      "name": "Summarize Emails with OpenAI - Morning",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        -80,
        180
      ],
      "typeVersion": 1.7,
      "credentials": {
        "openAiApi": {
          "id": "bSRC9iezOtrvynUM",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "Organizes the fetched email data, extracting fields like sender, receiver, CC, and a preview snippet.",
        "height": 305.83657700487913,
        "width": 226.7095107678671
      },
      "id": "0d9e299f-c231-4c85-ae04-cc946b364628",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -580,
        60
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "- Sends the summarized email report to recipients with a styled HTML layout.\n- Update the \"sendTo\" and \"ccList\" fields with the email addresses of your recipients.\n\n",
        "height": 420,
        "width": 313
      },
      "id": "72aee59c-3f9d-4586-8c35-1b75d13af72b",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -100,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -980,
        180
      ],
      "id": "96f6d9a9-376e-4a92-9795-3bf9e76954a6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "subtractFromDate",
        "magnitude": "={{ $today }}",
        "duration": 1,
        "outputFieldName": "Date",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -760,
        180
      ],
      "id": "bc21d005-968e-4f34-ae51-7f1cd2bef5d0",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "id, From, CC, snippet",
        "options": {}
      },
      "id": "a13fd24c-c2de-4109-bfda-0fa359e1aecc",
      "name": "Organize Email Data",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -300,
        180
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sendTo": "sidds.worldco@gmail.com",
        "subject": "=ESAgent - {{ new Date(new Date().setDate(new Date().getDate() - 1)).toLocaleDateString('en-GB', { day: '2-digit', month: 'short', year: 'numeric' }) }}-00:00 to {{ new Date(new Date().setDate(new Date().getDate())).toLocaleDateString('en-GB', { day: '2-digit', month: 'short', year: 'numeric' }) }}-07:00AM",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Email Summary</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            margin: 0;\n            padding: 0;\n            background-color: #f9f9f9;\n            color: #333;\n            line-height: 1.6;\n        }\n        .email-container {\n            max-width: 600px;\n            margin: 20px auto;\n            background: #ffffff;\n            border: 1px solid #ddd;\n            border-radius: 10px;\n            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);\n        }\n        .email-header {\n            background-color: #0073e6;\n            color: #fff;\n            padding: 20px;\n            text-align: center;\n            border-top-left-radius: 10px;\n            border-top-right-radius: 10px;\n        }\n        .email-header h1 {\n            margin: 0;\n            font-size: 24px;\n        }\n        .email-content {\n            padding: 20px;\n        }\n        .section-title {\n            font-size: 20px;\n            color: #0073e6;\n            margin-bottom: 10px;\n        }\n        ul {\n            list-style: none;\n            padding: 0;\n        }\n        ul li {\n            margin: 10px 0;\n            padding: 10px;\n            background: #f4f4f4;\n            border-left: 4px solid #0073e6;\n            border-radius: 5px;\n        }\n        .action-item {\n            font-weight: bold;\n            margin: 5px 0;\n        }\n        .action-detail {\n            margin-left: 10px;\n        }\n        .email-footer {\n            background-color: #0073e6;\n            color: #fff;\n            text-align: center;\n            padding: 10px;\n            font-size: 14px;\n            border-bottom-left-radius: 10px;\n            border-bottom-right-radius: 10px;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"email-container\">\n        <div class=\"email-header\">\n            <h1>Email Summary</h1>\n        </div>\n        <div class=\"email-content\">\n            <div>\n                <h2 class=\"section-title\">Summary of Emails:</h2>\n                <ul>\n                    {{ $json.message.content.summary_of_emails.map(email => `<li>${email}</li>`).join('') }}\n                </ul>\n            </div>\n            <div>\n                <h2 class=\"section-title\">Actions:</h2>\n                <ul>\n                    {{ $json.message.content.actions.map(action => `\n                        <li>\n                            <span class=\"action-item\">${action.name}:</span>\n                            <span class=\"action-detail\">${action.action}</span>\n                        </li>\n                    `).join('') }}\n                </ul>\n            </div>\n        </div>\n        <div class=\"email-footer\">\n            <p>Generated by Siddsy-Automation \n        </div>\n    </div>\n</body>\n</html>",
        "options": {
          "appendAttribution": false,
          "replyToSenderOnly": false
        }
      },
      "id": "54e05811-9fa1-4718-a58a-774336274681",
      "name": "Send Summary",
      "type": "n8n-nodes-base.gmail",
      "position": [
        280,
        180
      ],
      "webhookId": "83f2aeb9-7b6c-4336-b5ed-8acfcd259850",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "5K1A9Wnn6FekHWmr",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Fetch Emails - Past 24 Hours": {
      "main": [
        [
          {
            "node": "Organize Email Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Emails with OpenAI - Morning": {
      "main": [
        [
          {
            "node": "Send Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Fetch Emails - Past 24 Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organize Email Data": {
      "main": [
        [
          {
            "node": "Summarize Emails with OpenAI - Morning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Pacific/Auckland",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "23199ef9-848f-4e65-b52f-6a9fdf48345f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "11888ffa3e47806faf21601c627c5f9059006bec22e546a91fcf0114674fe8a2"
  },
  "id": "m6vXAjBr8h6TUXkx",
  "tags": []
}